@import "tailwindcss";

/* Wasted Vindey */
@font-face {
  font-family: "Wasted Vindey";
  src: url("../src/assets/fonts/Wasted-Vindey.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Source Serif 4 */
@font-face {
  font-family: "Source Serif 4";
  src: url("../src/assets/fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 200 900;
  /* variable font range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jacques Francois";
  src: url("../src/assets/fonts/JacquesFrancois-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4 theme tokens */
@theme {
  --font-wasted: "Wasted Vindey", serif;  
  --font-source: "Source Serif 4", serif;
  --font-source-pro: "Source Serif 4 Pro", serif;
  --font-jacques: "Jacques Francois", serif;
}